/* Tynisha Ebanks- Portfolio Site */
/* Built with ReactJS + Bulma CSS */


/* ------------------------------------------------------- */
/* Section 1: Landing Page (Styling Elements)     */
/* ------------------------------------------------------- */

/* 1. Sets Landing Container*/
.Top-header {
  /* background: url('./imgs/triangles.png'), linear-gradient(180deg, rgba(0, 239, 181, 0.87) 0%,#6723C6 100%);
  background-size:100%; width:100%; height:100%;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white; */
}
/*----------------End of Section 1 --------------------- */


/* ------------------------------------------------------- */
/* Section 2: Technical Skills Page (Styling Elements)     */
/* ------------------------------------------------------- */

/* 1. Sets Technical Skills Container*/
.Skills-Container {
  min-height: 100vh;
  /* width: 100vw;
  padding: 0 0 8%; */
}


/*----------------End of Section 2 --------------------- */



/* ------------------------------------------------------- */
/*        Section 3: Projects Page (Styling Elements)      */
/* ------------------------------------------------------- */

 /* 1. Sets Projects Container height*/
.Projects-Container {
   /* min-height: 110vh;
   padding-bottom: 8%; */
} 
/* 2. Card Width- Sets the size Projects Card Component */
.card_width {
  /* width: 400px; */
}
/* 3. Card Title- Sets the Color of H2 Card Component */
.card_title{
  /* color: #5B089B;
  font-weight: 600;
  font-size: 24px; */
}
/* 4. Project Image- Adds animation to Card Component */
.project_image:hover {
  /* opacity: 1;
  transform: scale(1.10);
  transition: 0.3s ease-in-out;
  text-transform: none; */
}

/*----------------End of Section 3 --------------------- */



/* ------------------------------------------------------- */
/*        Section 4: Education Page (Styling Elements)     */
/* ------------------------------------------------------- */

/* 1. Sets Education Container*/
.Education-Container {
  /* min-height: 85vh;
  padding: 0 0 8%; */
}

/*----------------End of Section 4 --------------------- */



/* ------------------------------------------------------- */
/* Section 5: Contact Page (Styling Elements)     */
/* ------------------------------------------------------- */

/* 1. Sets Contact Container*/
.Contact-Container {
  /* min-height: 85vh;
  min-width: 100vw; */
}

/*----------------End of Section 5 --------------------- */

/* ------------------------------------------------------- */
/*     Additional Styling for Components                   */
/* ------------------------------------------------------- */
.about-Container {
  /* min-width: 100vw;
  display: flex;
  justify-content: center; */
}
.about-Text {
  /* display: flex;
  flex-direction: column;
  align-self: center; */
}
.myImg {
  max-width: 185px;
  max-height: 185px;
  width: 100%;
}
.cvButton{
  /* height: 15vh; */
}
/* .socialIcons {
border: 1px solid black;
height: 10vh;
} */


.mainImage{
  /* display: flex;
  justify-content: center; */
}

/*---------------End of Component Styling---------------- */


/* ------------------------------------------------------- */
/*             Styling for App.js Page                     */
/* ------------------------------------------------------- */
.App {
  /* text-align: center; */
}
.App-logo {
  /* height: 8vmin;
  pointer-events: none; */
}
@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
} 
.App-link {
  /* color: #61dafb; */
}
 @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
/*---------------End of App.js Styling---------------- */