/* Table of Contents */
/* 1. Container Styling for the 5 Sections of Index Page */


/* Section 1: Landing */
.Top-header {
  background: url('./imgs/triangles.png'), linear-gradient(180deg, rgba(0, 239, 181, 0.87) 0%,#6723C6 100%);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Section 2: Technical Skills */
.Skills-Container {
  min-height: 100vh;
  min-width: 100%;
  background-size: cover;
  background: url('./imgs/bg-1.jpg');
  background-position: center;
  background-repeat: no-repeat; 
}

/* Section 3: Projects */
.Projects-Container {
  min-height: 100vh;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url('./imgs/bg-3.jpg');
  min-width: 100%;
  background-size: cover;
  background-position: center;
}

/* Section 4: Education */
.Education-Container {
  min-height: 100vh;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), url('./imgs/bg-3.jpg');
  min-width: 100%;
  background-size: cover;
  background-position: center;
}

/* Section 5: Contact */
.Contact-Container {
  min-height: 100vh;
  background: #4A494A;
  min-width:100%;
}



.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} 
.about-Container {
  max-width: 100vw;
  display: flex;
  justify-content: center;
 
}
.about-Text {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.myImg {
  max-width: 185px;
  max-height: 185px;
  width: 100%;
}
.cvButton{
  height: 15vh;
  border: 1px solid red;
}
.socialIcons {
border: 1px solid black;
height: 10vh;
/* width: 20vw; */
}

.App-link {
  color: #61dafb;
}
.navbar {
  background-color: #6723C6;
  height: 4.0625rem;
}
.mainImage{
  display: flex;
  justify-content: center;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
