@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav {
  color: #6723C6;
  height: 4.0625rem;
  width: 100vw;
  overflow-x: hidden;
}
.custom-subheading{
  color: #5B089B;
  font-weight: bold;
}
#root{
  width: 100vw;
}
body{
  padding-top: 4.0625rem;
  width: 100vw;
}

h1 { font-family:'Roboto', sans-serif;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
